.navbar-brand {
  font-size: 30px;
}
/* Note for self: vw for relative sizing to viewport width
and vh for viewport height */
.cover {
  padding-bottom: 5px;
  max-height: 90vh;
}

.coverpic {
  display: block;
  width: 100vw;
  height: auto;
}

.covertext {
  position: absolute;
  bottom: 0%;
  left: 5%;
  max-width: 50vw;
  color: white;
  font-size: 50px;
}
