h1 {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
  background-color: black;
}

a {
  color: #a2e8ff;
}

.navbar-brand {
  font-size: 30px;
}
/* Note for self: vw for relative sizing to viewport width
and vh for viewport height */
.cover {
  position: relative;
  padding: 5px;
  height: 90vh;
  width: 100vw;
  overflow: hidden;
}

.coverpic {
  /*display: block;
  height: 90vh;
  width: auto;
  bottom: 0;*/
  object-fit: cover;
  width: 100vw;
}

.coverpicbehind {
  position: absolute;
  display: block;
  max-width: 100vw;
  width: auto;
  height: auto;
  top: 0%;
  right: 0%;
  z-index: -1;
}

#abovectext {
  position: absolute;
  position: absolute;
  bottom: 10%;
  /* text-align: center; */
  left: 5%;
  width: 100vw;
  color: white;
  font-size: 3vh;
}

.covertext {
  position: absolute;
  bottom: 15%;
  /* text-align: center; */
  left: 5%;
  width: 100vw;
  color: white;
  font-size: 10vh;
  font-family: 'Lobster', cursive;
}


.topphotocontainer {
  position: relative;
  padding: 5px;
  max-width: 100vw;
  max-height: 30vh;
  height: auto;
  overflow: hidden;
}

.topphoto {
  display: block;
  width: 100vw;
  height: auto;
}

.topphototext {
  position: absolute;
  bottom: 10%;
  /* text-align: center; */
  left: 5%;
  width: 100vw;
  color: #dedede;
  font-size: 50px;
  font-size: 5vh;
}

.project-content {
  position: relative;
  max-width: 15vw;
  max-height: 15vw;
  height: auto;
  overflow: hidden;
}

.projectimg {
  display: block;
  width: 12vw;
  height: auto;
}

.section-headings {
  /*left: 4%;*/
  padding-left: 4vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

.heading-text {
  color: #0e876f;
  font-size: 24px;
  text-transform: uppercase;
}

.section-content {
  padding-left: 4vw;
}

.section-content-text {
  font-size: 20px;
  color: #dedede;
}

.section-content-text-small {
  font-size: 16px;
  color: #dedede;
}

.project {
  background-color: rgba(255,255,255,0.1);
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#education {
  position: relative;
  height: 80vh;
  width: 100vw;
  overflow: hidden;
}

.sectionpic {
  /*display: block;
  height: 90vh;
  width: auto;
  bottom: 0;*/
  position: relative;
  object-fit: cover;
  width: 90vw;
  z-index: -1;
}

.blackbox {
  background-color: rgba(0,0,0,0.5);
  width: 60vw;
  height: 40vh;
  position: relative;
  margin-top: -45vh;
  margin-left: 25vw;
  display: block;
}

.blackbox-text {
  padding: 10px;
  color: white;
}



.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media only screen and (max-width: 768px) {
  /* for mobile phones, cover photo should be only halfway */
  /*
  .cover {
    max-height: 70vh;
  }

  .coverpic {
    display: block;
    height: 50vh;
    width: auto;
    bottom: 0;
  }*/

  .coverpicbehind {
    position: absolute;
    display: block;
    height: 50vh;
    width: auto;
    top: 0%;
    right: 0%;
    z-index: -1;
  }

  .heading-text {
    font-size: 20px;
  }

  .section-content-text {
    font-size: 16px;
  }

  .section-content-text-small {
    font-size: 12px;
  }

.slideimg {
    padding-top: 10vh;
  }

}
